- form_for @<%= singular_name %> do |f|
  = f.error_messages
  %table
  <%- for attribute in attributes -%>
 	 %tr
		%td
			= f.label :<%= attribute.name %>
	    %td
			= f.<%= attribute.field_type %> :<%= attribute.name %>
  <%- end -%>
  %p
    = f.submit
